:root{
    --background: #17181a;
    --text: white;
    --textP: rgb(223, 223, 223);
    --Span: rgb(86, 124, 228);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--background);
    font-family: "montserrat", sans-serif;
    overflow-x: hidden;
}


#logo {
    color:var(--text);
    font-family: 'Abril Fatface';
}

.nav-header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}

.line1, .line2 {
    background: var(--text);
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    pointer-events: none;
}

.slide {
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
}

.slide-image {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
}

.slide-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
}

.description h2{
    font-family: "Abril Fatface";
    font-size: 3rem;
}

.workLink {
    font-family: "Abril Fatface";
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: var(--text);
}

.description p{
    padding: 3rem 0rem;
    font-size: 1.5rem;
    color: var(--textP);
}

.about-span {
    color: var(--Span);
}

.services-span {
    color: var(--Span);
}

.myWork-span {
    color: var(--Span);
}

.explore {
    padding: 1rem 2rem;
    background: none;
    border: 1px solid var(--text);
    border-radius: 2rem;
    color: var(--text);
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
    
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
  }

.burger {
    cursor: pointer;
  }

.nav-links {
    font-size: 3rem;
    flex-basis: 30rem;
  }

.nav-links a {
    color: var(--background);
    text-decoration: none;
  }

.nav-links h3 {
    padding: 3rem 0rem;
  }

.contact {
    flex-basis: 35rem;
  }

.contact h2 {
    font-size: 3rem;
    padding: 2rem 0rem;
  }

.contact h3 {
    padding: 0.5rem 0rem;
  }

.contact p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

.reveal-image,
.reveal-text {
    position: absolute;
    width: 100%;
    height: 150%;
    background: var(--background);
    left: 0;
    top: -15%;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-property: background, transform;
    transform-origin: 130% 130%;
}

.cursor.nav-active {
    background: rgb(86, 124, 228);
    transform: scale(1.5);
  }

.cursor.explore-active {
    background: white;
    transform: scale(1.5);
  }

.cursor-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.5rem;
    transform: translate(-50%, -50%);
  }

.scrollmagic-pin-spacer {
    position: static !important;
  }